#contenedor{
background-color:#fff;
margin: 20px auto;
min-height: 300px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
width: 900px;

text-align: left;

}
.paginadoractivo{
padding:5px 10px 5px 10px;
font-family: “Trebuchet MS”, Arial, Helvetica, sans-serif;
font-size:14px;
background-color:#5E9EA8;
color:#000000;
border:0.5px solid #000000;
cursor:pointer;
}
.paginador{
padding:5px 10px 5px 10px;
font-family: “Trebuchet MS”, Arial, Helvetica, sans-serif;
font-size:14px;
background-color: #E7F7FF;
color:#000000;
border:0.5px solid #333333;
cursor:pointer;

}
.paginador:hover{
padding:5px 10px 5px 10px;
font-family: “Trebuchet MS”, Arial, Helvetica, sans-serif;
font-size:14px;
background-color:#73ADD6;
color: white ;
border:0.5px solid #333333;
cursor:pointer;
}
.tablita
{
font-size: 12px;
width:90%;
text-align: left;
/*margin:0 auto;*/
border: 1px solid #2698C9;
border-collapse: collapse;
font-family: “Trebuchet MS”, Arial, sans-serif;
color: #ffffff;
}
.tablita caption
{
font-size: 16px;
font-weight: normal;
/*padding: 5px;*/
/* background: #73ADD6 url(‘../images/fon_perfil.gif’) repeat-x;*/
border-right: 1px dotted #06C ;
background: #2698C9;
color: #FFFFFF;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.tablita th
{
font-size: 13px;
font-weight: normal;
padding: 5px;
/* background: #73ADD6 url(‘../images/fon_perfil.gif’) repeat-x;*/
border-right: 1px dotted #06C ;
background: #21779C;
color: #FFFFFF;
text-align:  center;
}
.tablita td
{
/*padding: 4px;*/
color: #086A87;
text-align: center;

}
.tablita tfoot tr td
{
font-size: 12px;
color: #ffffff;
}
.tablita tbody tr:hover td
{
/* background: #FCFDFE; */
color:saddlebrown;
background: #B4DEDC;
}


.noData
{
    background-color: #B4DEDC;
    position: relative;
    width: 650px;
    height: 85px;
    text-align:  center;
    font-size: 18px;
    border-style:  dotted;
    border-color:  #2698C9;
    
}

.sinbusqueda 
{
    padding-right: 15px;
    padding-left: 80px;
}